@import "../../assets/scss/variables";

.mentor-wrapper{
  border-radius: $radius;
  padding:62px 77px 24px 24px;
  margin-bottom: 24px;
  background: radial-gradient(
    128.88% 128.88% at 103.9% -10.39%,
    #e84d70 0%,
    #a337f6 53.09%,
    #28a7ed 100%
  );
}

.mentor-title{
  font-style: 700;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -0.25px;
  color:#fff;
  
}

.mentor-sub-title{
  font-style: Medium;
  font-size: 15px;
  line-height: 22px;
  opacity: 0.75;
}