@import "../../assets/scss/variables";

.add-btn{
  width: 158px;
  height: 44px;
  margin: 14px 16px 14px 0;
  font-style: 700;
  font-size: 14px;
  line-height: 20px;
  color:#F2F4FE;
  background-color: #AD1FEA;
  border-radius: $radius;
  border:none;
}
.add-btn:active{
  background-color: #C75AF6;
}