@import "../../assets/scss/variables"; 

.type-badge {
  display: inline-block;
  padding: 5px 16px;

  color: $blue-color;
  background-color: #F2F4FF;
  
  border-radius: $radius;

  font-weight: 600;
  font-size: 13px;
  line-height:19px;
}

.type-badge:hover{
  background-color: #CFD7FF;
}

.type-badge:active{
  color:#fff;
  background-color: $blue-color;
}