@import "../../assets/scss/variables";

.type-filter{
  background-color: #fff;
  border-radius: $radius;
  padding: 24px;

  display: flex;
  flex-wrap: wrap;
  gap: 14px 8px;

  margin-bottom: 24px;
}

.type-filter__radio:checked + .type-filter__styled-radio{
  color:#fff;
  background-color: $blue-color;
}